../romio/configure --prefix=/pscratch/sd/y/yll6162/soft/romio-install \
                   cross_compiling="yes" \
                   --with-file-system=ufs+lustre \
                   CC=cc \
                   CFLAGS="-O2" \
                   LIBS=-llustreapi \
   --silent \
                   --disable-f77 \
                   --disable-f90