MPI_DIR=/scratch/yll6162/mpich/mpich-install 
./configure --prefix=/scratch/yll6162/romio/romio-install \
                --silent \
                --with-mpi=$MPI_DIR \
                --disable-f77 \
                --disable-f90 \
MIMIC_LUSTRE=yes --with-file-system=lustre+ufs CPPFLAGS="-DWKL_HECK_LUSTRE -DROMIO_LUSTRE" \
                CFLAGS="-O0 -g -Wfatal-errors -I/usr/local/cuda-11.8/targets/x86_64-linux/include/"\
		LDFLAGS="-L/usr/local/cuda-11.8/lib64 -lcudart -lcufile"
